@page
@model Web.Pages.Seguridad.AccesoDenegadoModel

<h2>Acceso denegado</h2>
<p>No tienes permisos para acceder a esta página.</p>

<a asp-page="/Seguridad/Login" class="btn btn-primary">Ir al login</a>